 <div class="face-snap-card" [ngClass]="{snapped: userHasSnapped}">
      <!-- Using string interpolation with "{{ }}" to display the property content in the template-->
      <h1>{{facesnap.title | uppercase}}</h1>
      @if (facesnap.location){
      <p>📍{{facesnap.location}}</p>
      } @else {
       <p>📍Undefined</p>
      }
      <!-- Using the attribute binding "[ ]" to link the attribute src to the associate value -->
      <img [src]="facesnap.pictureUrl" [alt]="facesnap.title">
      <p>{{facesnap.description}}</p>
      <p>Created on {{facesnap.createdAt | date:  'd-MMM-yyyy, h:mm a'  }}</p>
      <p>
       <!--Using the event binding with "(click)" to link a method to an event -->
       <button (click)="onSnap()">{{snapButtonText}}</button>
       <span [ngStyle]="{color: 'rgb(0,'+ facesnap.snaps+',0)'}">{{facesnap.snaps}}</span>
      </p>
  </div>

