<div class="face-snap-card">
  <!-- Using string interpolation with "{{ }}" to display the property content in the template-->
  <h1>{{title}}</h1>
  <!-- Using the attribute binding "[ ]" to link the attribute src to the associate value -->
  <img [src]="pictureUrl" [alt]="title">
    <p>{{description}}</p>
    <p>Created on {{createdAt}}</p>
    <p>
      <!--Using the event binding with "(click)" to link a method to an event -->
      <button (click)="onSnap()">{{snapButtonText}}</button>
      {{snaps}}
    </p>
</div>
